@page
@model FrontEnd.ListModel//MyApp.Namespace.ListModel
@{
     ViewData["Title"]="List";
}
<link rel="stylesheet" href="~/css/site.css" />
<style>

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

table tr {
  text-align: center;
}

</style>

  <table id=customers>
    <tr>
      
      <th>Nombre cargo</th>
      <th>Nivel</th>
      <th>Detalle</th>
      <th>Crear</th>
      <th>Eliminar</th>
      <th>Actualizar</th>     
      
    </tr>
    @foreach (var cargo in Model.Cargos)
    {
        
      <tr>
      
      <td>@cargo.Nombre_cargo</td>
      <td>@cargo.Nivel</td>

      <td>
        <a class ="btn btn-primary" asp-page="./Detail" asp-route-id="@cargo.Id">
          <center><i class="fas fa-info"></i></center>
        </a>       
      </td> 
      <td>
        <a class ="btn btn-primary" asp-page="./Create" asp-route-id="@cargo.Id">
          <i class="far fa-calendar-plus"></i>
        </a>       
      </td>
      <td>
        <a class ="btn btn-danger" asp-page="./Delete" asp-route-id="@cargo.Id">
          <i class="fas fa-trash-alt"></i>       
        </a>
      </td> 
      <td>
        <a class ="btn btn-primary" asp-page="./Update" asp-route-id="@cargo.Id">
          <i class="fas fa-edit"></i>
        </a>       
      </td>
    </tr>  
    }
  </table>
